body {
    margin: 0; /* Remove default margin */
}

.a-tag-behaviour{
    color: white;
    text-decoration: none;
}

.a-tag-behaviour:hover {
    color: white;
    text-decoration: underline;
}

.site-header {
    background-color: #333; /* Adjust as needed */
    color: #fff; /* Adjust as needed */
    padding: 1rem 0;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
}

.foot-footer{
    /* position: fixed;
    width: 100%;
    left: 0;
    bottom: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* css for home.php */
.home-head-container{
    padding: 7rem 15rem 4rem 15rem;
}

.home-head-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
}

.home-head-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    font-family: monospace;
    padding: 2rem 1rem 1rem 1rem;
    color: #5f6368;
}

/* css for page.php */
.page-about-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    font-size: 2rem;
    background-color: bisque;
}

.page-about-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 1.4rem;
    text-align: center;
}

.page-blog-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    font-size: 2rem;
    background-color: bisque;
}

.page-blog-blogContainer{
    padding: 1rem 2rem;
}

.page-blog-heading{
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.page-blog-heading:hover{
    text-decoration: underline;
}

.page-blog-excerpt{
    font-family: monospace;
    padding: 2rem 0rem;
    color: #5f6368;
}

/* css for index.php */
.index-heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    font-size: 2rem;
    text-align: center;
    background-color: bisque;
}

.index-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: monospace;
    padding: 3rem;
    color: #5f6368;
}