.container{
    background-color: #333; /* Adjust as needed */
    color: #fff; /* Adjust as needed */
    padding: 1rem 0;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
}

.nav-click:hover {
    cursor: pointer;
}